<footer>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-4">
                <ul>
                    <li><a href=#>Link Here</a></li>
                    <li><a href=#>Link Here</a></li>
                    <li><a href=#>Link Here</a></li>
                    <li><a href=#>Link Here</a></li>
                </ul>
            </div>
            <div class="mdc-layout-grid__cell--span-8">
                <p>Now then, let's play. Just relax and let it flow. That easy. Let's have a little bit of fun today. With
                    something so strong, a little bit can go a long way. We don't want to set these clouds on fire.</p>
            </div>
    </div>
</footer>