<header id="proj-header" class="mdc-top-app-bar mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a id="proj-nav-icon" href="#" class="material-icons mdc-top-app-bar__navigation-icon mdc-ripple-surface" aria-label="Click to show the navigation menu"
                aria-controls="proj-nav-menu" data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>menu</a>
            <h1 id="proj-logo" class="mdc-top-app-bar__title"> Project 2 </h1>
        </section>
        <section id="link-section" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <nav class="header-nav">
                <a href="#" class="header-nav__link" aria-label="Download" alt="Download">
                    Download
                </a>
                <a href="#" class="header-nav__link" aria-label="Download" alt="Download">
                    Download
                </a>
                <a href="#" class="header-nav__link" aria-label="Download" alt="Download">
                    Download
                </a>
            </nav>
        </section>
    </div>
</header>